@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}
@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes littleMove {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(5px, 35px);
    }
    50% {
        transform: translate(-10px, -20px);
    }
    75% {
        transform: translate(25px, 15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(80deg);
    }
    100% {
        transform: rotate(20deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes r-spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
