$primary-extra-dark-green: #0f443e;
$primary-dark-green: #196159;
$primary-dark-green-50: #699687;
$primary-green: #2f9363;
$primary-green-50: #79bb9b;
$primary-light-green: #a4c956;
$primary-extra-light-green: #b9cbb5;
$primary-white: #f3f8f6;

$primary-real-black: #000;
$primary-dark-gray: #706f6f;
$primary-gray: #bfbfbf;
$primary-light-gray: #fafafa;
$primary-real-white: #fff;

$darkmode-midnight: #2b3743;
$darkmode-dark-midnight: #202d36;

$active-dark: #d66801;
$active-base: #ffb168;
$active-light: #ffebd9;

$mental-dark: #437cd1;
$mental-base: #68a4ff;
$mental-light: #d9e8ff;

$nutrition-dark: #208247;
$nutrition-base: #41ca78;
$nutrition-light: #cff2dd;

$primary-light-red: #ff3c3c;
$primary-red: #d50f0f;
